#board .col {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 8rem !important;
  max-width: 8rem !important;
  height: 8rem !important;
  width: 8rem !important;
  box-sizing: border-box;
  border-right: 0.4rem solid black;
  border-bottom: 0.4rem solid black;
  font-size: 6.5rem;
  cursor: pointer;
  /*   padding-bottom: 15px; */
}
#board .col:nth-child(3n) {
  border-right: none;
}
#board .row:last-child .col {
  border-bottom: none;
}
.container #board {
  max-width: 24rem !important;
  max-height: 24rem !important;
}
#scores {
  max-width: 25rem !important;
  font-size: 1rem !important;
}
select {
  max-width: 8rem !important;
}
.boxUsed {
  cursor: not-allowed !important;
}
